// ==============================
// Custom style
// ==============================

.single {
  .labels {
    ul {
      display: flex;
      gap: .5em;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      background-color: $code-background-color-dark;
      padding: .5em 1em;
      border-radius: 6px;
    }
  }  
}


@media print {
  header {
    display: none !important;
  }

  .page {
    width: 100% !important;
  }

  footer {
    display: none;
  }

  #comments {
    display: none;
  }

  .single {
    .labels {
      li {
        padding: 0;
      }
    }  
  }
}

