.about-me {
  .single {
    .content {
      > h2 {
        font-size: 2.5rem;

        @media only screen and (max-width: 680px) {
          font-size: 1.75rem;
        }
  
        & code {
          font-size: 1.25rem;
        }
      }
  
      > h3 {
        font-size: 1.375rem;
  
        & code {
          font-size: 1.125rem;
        }
      }
  
      > h4 {
        font-size: 1.25rem;
  
        & code {
          font-size: 1rem;
        }
      }
  
      > h5 {
        font-size: 1.125rem;
      }
  
      > h6 {
        font-size: 1rem;
      }
  
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: bold;
        margin: 1.2rem 0;
  
        [theme=dark] & {
          font-weight: bolder;
        }
      }
  
      > h2,
      > h3,
      > h4,
      > h5,
      > h6 {
        > .header-mark::before {
          content: "|";
          margin-right: .3125rem;
          color: $single-link-color;
  
          [theme=dark] & {
            color: $single-link-color-dark;
          }
        }
      }
  
      > h2 > .header-mark::before {
        content: "#";
      }
  
      p {
        margin: .5rem 0;
      }
  
      b, strong {
        font-weight: bold;
  
        [theme=dark] & {
          color: #ddd;
        }
      }
  
      @include link(false, false);
  
      a {
        @include overflow-wrap(break-word);
  
        [theme=dark] & b, [theme=dark] & strong {
          color: $single-link-color-dark;
        }
      }
  
      [theme=dark] a:hover b, [theme=dark] a:hover strong {
        color: $single-link-hover-color-dark;
      }
  
      ul, ol {
        margin: .5rem 0;
        padding-left: 2.5rem;
      }
    }
  }
}